<mat-toolbar>
  <div class="container">
    <div class="logo-image">
      <img src=" https://hign.org/sites/default/files/2022-01/HIGN-logo-1200.png" alt="Hero Image" style="width:20%;" aria-label="Hero Image">
    </div>
    <div class="container2">
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="/home">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-button routerLink="nursing/mental-state-exams">Mental State Exams</button>
    </div>

  </div>
</mat-toolbar>

